button {
  font-family: serif;
  padding: 19px 39px 18px;
  color: #black;
  background: $white;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 1em;
  border: 1px solid $black;
  font-family: 'Michroma', sans-serif;
  cursor: pointer;
}

button:hover, button:focus {
  background: $black;
  color: $alto ;
}