* {
  box-sizing: border-box;
}
body {
  font-family: $general-stack-font;
  line-height: 1.6;
  color: rgba(64,64,64,.7);
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.8em;
}
h2,
h3,
a {
  color: rgba(64,64,64,.7);
}
h2,
h3 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
img {

  max-width: 100%;
  width: 100%;
  
}
.clearfix {
  display: block;
  height: 1px;
  clear: both;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 1.5em;

  @media #{$brk-narrow} {
    padding: 3em;
    border: 1px solid $alto ;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

 a.selected  {
  color: $black;
  text-decoration: underline;
}
