
// Descriptive color variables

$white         : #fff;
$black         : #000;
$navada        : #62676B;
$alto          : #ddd;
$lemon-chiffon : #FFFBCC;
$tundora       : #404040;

// Font Stacks

$general-stack-font    : 'Varela Round', sans-serif;
$menu-description-font : 'Merriweather';

//Media query breakpoints

$brk-narrow     : '(min-width: 769px)';
$brk-wide       : '(min-width: 1025px)';


